.container {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    pointer-events: none;
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
}

.main {
    position: fixed;
    top: 20%;
    left: 10%;
}

.main img {
    height: calc(4rem + 10vw);
}