.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    z-index: 3;
    pointer-events: none;
}

.navcontainer {
    height: 100%;
    width: 100%;
}

.navitem {
    position: absolute;
    pointer-events: all;
    cursor: pointer;
}

.navitem svg {
    height: calc(2.4rem + 1.5vw);
    pointer-events: all;
}


.navitem:nth-of-type(1) {
    transform: translateX(-50%);
    left: 50%;
}

.navitem:nth-of-type(2) {
    transform: translateY(-50%) rotate(-90deg);
    top: 50%;
    left: -1.8rem;
}

.navitem:nth-of-type(3) {
    transform: translateX(-50%) rotate(-180deg);
    left: 50%;
    bottom: 0;
}

.navitem:nth-of-type(4) {
    transform: translateY(-50%) rotate(90deg);
    top: 50%;
    right: -1.8rem;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 48rem) {
    .navitem svg {
        height: 2rem;
    }


    .navitem:nth-of-type(1) {
        transform: translateX(-50%);
        left: 50%;
    }

    .navitem:nth-of-type(2) {
        transform: translateY(-50%) rotate(-90deg);
        top: 50%;
        left: -0.9rem;
    }

    .navitem:nth-of-type(3) {
        transform: translateX(-50%) rotate(-180deg);
        left: 50%;
        bottom: 0;
    }

    .navitem:nth-of-type(4) {
        transform: translateY(-50%) rotate(90deg);
        top: 50%;
        right: -0.9rem;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 74rem) {}


@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}