.container {
    background-color: transparent;
    width: fit-content;
    padding: 0 calc(2rem + 6vw);
    position: fixed;
    z-index: 2;
    height: 100svh;
    width: 100svw;
    display: flex;
    gap: calc((2rem + 4vw) / 4);
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    pointer-events: none;
}

.open {
    opacity: 1;
    pointer-events: all;
}

.container h2 {
    color: var(--lightgreen);
    font-size: calc(1.5rem + 2vw);
}

.titleContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.titleContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.open .titleContainer img {
    cursor: pointer
}

.titleContainer img {
    pointer-events: all;
    padding: 0.5rem 0;
    background-color: var(--pink);
}

.titleContainer .titleContainer img:nth-of-type(2) {
    transform: rotate(180deg);
}

.events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
}

.event {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}


.leftSide {
    display: flex;
    align-items: center;
}

.leftSide:nth-of-type(1) {

    background-color: var(--pink);
}

.leftSide h2 {
    color: var(--lightgreen);

}


.rightSide {
    display: flex;
    flex-direction: column;
    gap: calc((2rem + 5vw) / 10);
    padding: calc((2rem + 5vw) / 15);
    padding-left: calc((2rem + 5vw) / 5);
    background-color: var(--lightgreen);
    position: relative;
}

.rightSide h3 {
    background-color: var(--lightgreen);
    width: fit-content;
    color: var(--pink);
}

.overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.1);
}

.overlay h3 {
    background-color: transparent;
    font-size: calc(1.5rem + 2vw);
}



.act {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.act h4 {
    font-size: calc(0.35rem + 0.35vw);
}

.actName {
    font-family: var(--bold-font);
    text-transform: uppercase;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 48rem) {
    .container {
        padding: 0 calc(1.5rem + 6vw);
        display: flex;
        gap: calc((2rem + 4vw) / 8);
        opacity: 0;
        transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        pointer-events: none;
        overflow: scroll;

    }

    .content {
        overflow: scroll;
    }


    .open {
        opacity: 1;
        pointer-events: all;
    }


    .container h2 {
        font-size: calc(1rem + 1.5vh);
        writing-mode: vertical-lr;
        text-orientation: mixed;
    }



    .titleContainer {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .titleContainer img {

        padding: 0.25rem 0;
        background-color: var(--pink);
    }


    .events {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .event {
        display: grid;
        grid-template-columns: 0.25fr 1fr;
        width: 100%;
    }


    .leftSide {
        display: flex;
        align-items: center;
    }

    .leftSide:nth-of-type(1) {
        background-color: var(--pink);
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        gap: calc((2rem + 5vw) / 15);
        padding: calc((2rem + 5vw) / 15);
    }

    .rightSide h3 {
        background-color: var(--lightgreen);
        width: fit-content;
        color: var(--pink);
        font-size: calc(0.4rem + 0.8vh);
    }

    .overlay h3 {

        background-color: transparent;
        font-size: calc(1rem + 1.5vh);
        writing-mode: vertical-rl;
        transform: rotate(180deg)
    }


    .act {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
    }

    .act h4 {
        font-size: calc(0.3rem + 0.6vh);
    }

    .actName {
        font-family: var(--bold-font);
        text-transform: uppercase;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 74rem) {}


@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}