@font-face {
  font-family: "Suisse Black";
  src: url("/font/SuisseIntl-Black.otf");
}

@font-face {
  font-family: "Suisse Bold";
  src: url("/font/SuisseIntl-Bold.otf");
}

@font-face {
  font-family: "Suisse Semibold";
  src: url("/font/SuisseIntl-SemiBold.otf");
}

@font-face {
  font-family: "Suisse Regular";
  src: url("/font/SuisseIntl-Regular.otf");
}

:root {


  /* typefaces */

  --title-font: "Suisse Black";
  --bold-font: "Suisse Bold";
  --semibold-font: "Suisse Semibold";
  --regular-font: "Suisse Regular";



  /* colors */

  --yellow: #FFFF00;
  --lightgreen: #00FF67;
  --violet: #675D75;
  --grey: #98979B;
  --greengrey: #6A7260;
  --lightgrey: #EDEDED;
  --black: #000;
  --white: #fff;
  --pink: #FF7BAC;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: var(--bold-font);
  letter-spacing: -4px;
  color: var(--lightgreen);
}

h2 {
  font-family: var(--bold-font);
}


p,
a,
li {
  font-family: var(--regular-font);
}

a {
  text-decoration: none;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}