.bg {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100svh;
    min-width: 100svw;
    background-color: red;
}

.imageContainer {
    position: relative;
}

.bg {
    background-color: blue;
    height: 100%;
}


.background img {
    min-height: 100vh;
    width: 100%;
}