.bg {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;

}

.imageContainer {
    position: relative;
    max-height: 100svh;
    max-width: 100svw;
}

.background {}

.background img {
    height: auto;
    width: 100%;
    object-fit: contain;
}